page-about {
    .row-border {
        border-bottom-style: solid;
        border-width: 1px;
        border-color: $mainblue;
        height: 40%;
    }
     ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }
    .img-css {
        width: 85%;
        height: 75%;
    }
    img {
        height: 180px;
    }
    button {
        ion-badge {
            position: absolute;
            top: -0.2rem;
            right: -0.2rem;
            opacity: 0.9;
            &~ion-icon {
                margin-right: 1.2rem;
            }
        }
    }
}