<ion-header>
    <ion-navbar *ngIf="!isSearch">
        <ion-title>Search</ion-title>
        <ion-buttons end>
            <button ion-button large (click)="searchBar()">
                <ion-icon name="search" right class="search-icon"></ion-icon>
            </button>
            <button ion-button large (click)="openCart()">
                    <ion-badge style="background-color: #ff4848;" *ngIf="cartSize>0">{{cartSize}}</ion-badge>
                  <ion-icon name="briefcase" right class="cart-icon"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar *ngIf="isSearch">
        <ion-searchbar #searchbar showCancelButton cancelButtonText="Cancel" (ionCancel)="onCancel($event)" (ionInput)="searchMedicineOnQuery(undefined)" [(ngModel)]="search"></ion-searchbar>
        <ion-buttons class="searchbar-active-buttons">
            <button ion-button (click)="openCart()">
                  <ion-badge style="background-color: #ff4848;" *ngIf="cartSize>0">{{cartSize}}</ion-badge>
                  <ion-icon name="briefcase" right class="cart-icon"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>



<!--class="search"-->
<ion-content padding [style.opacity]="opacity?0.1:1">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row>
            <ion-col col-6 col-md-3 col-lg-2 col-xl-2 *ngFor="let m of searchMedicinesList">
                <div>
                    <h2>{{m.name}}</h2>
                    <p>{{m.description}}</p>
                    <ion-row>
                        <ion-label class="dosage">{{m.dosage}}</ion-label>
                        <ion-label class="price">₹{{m.price}}</ion-label>
                    </ion-row>

                    <ion-buttons text-center>
                        <button ion-button name="primary" (click)="presentQuantityModal(m.id)">Add to Bag</button>
                    </ion-buttons>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab (click)="presentModal()" right bottom>
        <button ion-fab>
            <ion-icon name="add" ></ion-icon>
          </button>
    </ion-fab>
    <ion-infinite-scroll (ionInfinite)="querySearch?getMoreOnSearchQuery($event):getMoreOnPageLoad($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>