page-delivery-orders {
    .SwipedTabs-indicatorSegment {
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
        position: relative;
        top: 0px;
        background-color: #488AFF !important;
        margin-top: 42px;
    }
    .SwipedTabs-tabs ion-segment-button {
        border: none !important;
        color: gray!important;
        background-color: white!important;
    }
    .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
        color: #488AFF !important;
    }
    .SwipedTabs-tabs {
        width: fit-content !important;
        border-bottom: solid 1px #e6e6e6 !important;
    }
    ion-slides {
        height: auto !important;
    }
    ion-slide {
        height: 100vh !important;
        overflow: scroll;
        margin-top: 10%;
    }
    .slide-zoom {
        height: 100%;
    }
    ion-card {
        box-shadow: 0px 3px 5px #c3c1c1, 0px -3px 5px #c3c1c1 !important;
    }
}